---
layout: master.liquid
---

<video width="100%" height="auto" loop muted autoplay>
    <source src="assets/images/explore.mp4" type="video/mp4">
</video>

<section class="white-section">
    <div class="container">
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>Stats</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-3 stat">
                <span class="number">300mn</span>
                <p class="label">Funding acquired (Rs)</p>
            </div>
            <div class="col-sm-3 stat">
                <span class="number">5</span>
                <p class="label">PhDs produced</p>
            </div>
            <div class="col-sm-3 stat">
                <span class="number">26</span>
                <p class="label">Journal articles published</p>
            </div>
            <div class="col-sm-3">
                <div class="last-column">
                    <span class="number">8</span>
                    <p class="label">International events hosted</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="gray-section researchthemes">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>Research Themes</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>

        {% for researchtheme in collections.researchthemes %}
        <div class="row theme">

            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if thecycle == 'odd' %}

            <div class="col-sm-4 themeinfo">
                <div class="card">
                    <img src="{{researchtheme.url}}/{{researchtheme.data.image}}" class="card-img-top card-img" alt=" ...">
                    <div class="card-body">
                        <h4 class="card-title">{{researchtheme.data.title}}</h4>
                        <p class="card-text">{% shortened researchtheme.templateContent %} <a href="{{researchtheme.url}}">Explore</a></p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 projects">

                {% assign filteredprojects = collections.projects | themeFilter:researchtheme.data.themekey %}
                {% for proj in filteredprojects %}
                <div class="project_wrapper">
                    <div class="img_side">
                        <img src="{{researchtheme.url}}/{{researchtheme.data.image}}" class="project_img">
                    </div>
                    <div class="project_detail">
                        <h2>{{proj.data.title}}</h2>
                        <p>{% shortened proj.templateContent %} <a href="{{proj.url}}">See project details</a></p>
                    </div>
                </div>
                {% endfor %}

            </div>

            {% else %}

            <div class="col-sm-8 projects">
                
                {% assign filteredprojects = collections.projects | themeFilter:researchtheme.data.themekey %}
                {% for proj in filteredprojects %}
                <div class="project_wrapper">
                    <div class="img_side">
                        <img src="{{researchtheme.url}}/{{researchtheme.data.image}}" class="project_img">
                    </div>
                    <div class="project_detail">
                        <h2>{{proj.data.title}}</h2>
                        <p>{% shortened proj.templateContent %} <a href="{{proj.url}}">See project details</a></p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            
            <div class="col-sm-4 themeinfo">
                <div class="card">
                    <img src="{{researchtheme.url}}/{{researchtheme.data.image}}" class="card-img-top card-img" alt=" ...">
                    <div class="card-body">
                        <h4 class="card-title">{{researchtheme.data.title}}</h4>
                        <p class="card-text">{% shortened researchtheme.templateContent %} <a href="{{researchtheme.url}}">Explore</a></p>
                    </div>
                </div>
            </div>
            
            {% endif %}

            {% unless forloop.last %}
            <div class="separator"></div>
            {% endunless %}
        </div>
        {% endfor %}

    </div>
</section>

<section class="affiliation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>Partners</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="crs-img">
                                <img class=".d-md-block partner_img" src="sponsors/id.jpg" alt="First slide">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="crs-img">
                                <img class=".d-md-block partner_img" src="sponsors/nestle.jpg" alt="Second slide">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="crs-img">
                                <img class=".d-md-block partner_img" src="sponsors/wwf.png" alt="Second slide">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="crs-img">
                                <img class=".d-md-block partner_img" src="sponsors/wm.jpg" alt="Second slide">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item">
                    </div> -->
            </div>
        </div>
    </div>
</section>



<section class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <!-- <p>What We Do Now</p> -->
                    <h2>Explore News</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">

            {% for news in collections.news %}
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{ news.url | url }}/{{ news.data.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <p class="card-text">{% shortened news.templateContent %}
                        </p>
                        <a href="{{ news.url }}">Read more</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<section class="event-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <!-- <p>What We Do Now</p> -->
                    <h2>Upcoming Events</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>