---
layout: master.liquid
---

<section>
    <div class="container">
        <div class="row">

            {% for people in collections.peopleSorted %}
            <div class="col-sm-3">
                <div class="main_wrapper">
                    <div class="profile_list">
                        <a class="profile_link" href="{{people.url | url}}">
                            <img src="{{people.url | url}}{{people.data.profile.picture}}" class="profile_img" alt="{{people.data.profile.name}}'s Picture">
                            <div class="profile_data">
                                <h6 class="name">{{people.data.profile.name}}</h6>
                                <div>{{people.data.profile.designation}}</div>
                                <div>{{people.data.profile.role}}</div>
                                <!-- <a class="see-more-link" >See more</a> -->
                            </div>
                        </a>
                    </div>
                </div>
                <!--  -->
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>