---
layout: master.liquid
---

<section>
    <div class="container">
        <div class="row">

            {% for people in collections.peopleSorted %}
            <div class="col-sm-3">
                <!--  -->
                <div class="card profile-card">
                    <img src="{{people.url | url}}{{people.data.profile.picture}}" class="card-img-top" alt="{{people.data.profile.name}}'s Picture">
                    <div class="card-body">
                        <h6 class="card-title">{{people.data.profile.name}}</h6>
                        <div class="card-text">
                            <div>{{people.data.profile.designation}}</div>
                            <div>{{people.data.profile.role}}</div>
                        </div>
                        <a class="see-more-link" href="{{people.url}}">See more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>