---
layout: "master"
---
<section class="profile page">
    <div class="container">
        <div class="row text-center">

            {% if profile.linkedinurl %}
            <div class="col-12 col-md-4 offset-md-2">
            {% else %}
            <div class="col-12">
            {% endif %}
                <img class="profile-pic" src="{{page.url | url}}{{profile.picture}}" />
                <h5>{{profile.name}}</h5>
                <p>{{profile.role}}</p>
                {{profile.designation}}<br>
                {{content}}
            </div>

            {% if profile.linkedinurl %}
            <div class="col-12 col-md-4">
                <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light">
                    <a class="LI-simple-link" href='{{profile.linkedinurl}}?trk=profile-badge'></a>
                </div>
            </div>
            {% endif %}

        </div>
        {% if profile.bio %}
        <div class="row">
            <div class="col-12">
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-justify">
                <h5>Bio:</h5>
                {{profile.bio}}
            </div>
        </div>
        {% endif %}
    </div>
    <section>