---
layout: "master"
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 detail">
                <img src="{{page.url | url}}{{profile.picture}}" />
                <h5>{{profile.name}}</h5>
                <p>{{profile.role}}</p>
                {{profile.designation}}<br>
                {{profile.department}}<br>
                {{profile.qualification}}<br>
                {{profile.email}}<br>
                {{profile.phone}}<br><br>
                {{profile.bio}}
                <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="bilalhaider11">
	<a class="LI-simple-link" href='https://pk.linkedin.com/in/bilalhaider11?trk=profile-badge'>Bilal Haider</a>
</div>
            </div>
        </div>
    </div>
<section>