---
layout: master
---

<section class="project-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>{{title}}</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h6> <strong>Sponsor:</strong> {{sponsor}}</h6>
            </div>
            <div class="col-12">
                <h6> <strong>Duration:</strong> {{duration}}</h6>
            </div>
            <div class="col-12">
                <h6><strong>Members:</strong></h6>
                <p>
                    {% for memberKey in members %}
                    {% assign member = collections.people | profileFilter:memberKey %}
                    <a class="chip" href="{{member.url | url}}">
                        <img src="{{member.url | url}}{{member.data.profile.picture}}" alt="{{member.data.profile.name}}'s Picture" />
                        <span>{{member.data.profile.name}}</span>
                    </a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-12">
                <h6><strong>Concept:</strong></h6>
                <p>{{concept}}</p>
            </div>
            <div class="col-12 description">
                <h6><strong>Project Description:</strong></h6>
                {{content}}
            </div>
            <div class="col-12">
                <h6> <strong>Media:</strong></h6>
            </div>
            <div class="col-12">
                <div class="images-gallery">
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description </div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description </div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description</div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h6> <strong>Resources:</strong></h6>
            </div>
            <div class="col-12">
                <p>Click on the thumbnail to download the image: </p>
            </div>
            <div class="col-12">
                <a href="/assets/images/crop-monitoring.jpg" download>
                    <img src="/assets/images/crop-monitoring.jpg" alt="XyzFile" width="104" height="142">
                </a>
            </div>
        </div>
    </div>
</section>