---
layout: master
---

<section class="projects">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title">
                    <h2>{{title}}</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h6> <strong>Sponsor:</strong> {{sponsor}}</h6>
            </div>
            <div class="col-12">
                <h6> <strong>Duration:</strong> {{duration}}</h6>
            </div>
            <div class="col-12">
                <h6> <strong>Concept:</strong> {{concept}}</h6>
            </div>
            <div class="col-12">
            <strong>Members:</strong>
            <div class="chip">
                <img src="/assets/images/avatar.png" alt="Person" width="96" height="96"> John Doe </div>
            </div>
            <div class="col-12">
                {{content}}
            </div>
            <div class="col-12">
                <h6> <strong>Media:</strong></h6>
            </div>
            <div class="col-12">
                <div class="images-gallery">
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description </div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description </div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description</div>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="/assets/images/crop-monitoring.jpg">
                            <img src="/assets/images/crop-monitoring.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Add a description</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h6> <strong>Resources:</strong></h6>
            </div>
            <div class="col-12">
                <p>Click on the thumbnail to download the image: </p>
            </div>
            <div class="col-12">
            <a href="/assets/images/crop-monitoring.jpg" download>
                <img src="/assets/images/crop-monitoring.jpg" alt="XyzFile" width="104" height="142">
            </a>
            </div>
        </div>
    </div>
</section>